<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MordhauBatchPak.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MordhauBatchPak.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <MordhauBatchPak.Properties.Settings>
            <setting name="DefaultMapName" serializeAs="String">
                <value />
            </setting>
            <setting name="Default_UE4_Path" serializeAs="String">
                <value />
            </setting>
            <setting name="Default_Proj_Path" serializeAs="String">
                <value />
            </setting>
            <setting name="Default_Pak_Path" serializeAs="String">
                <value />
            </setting>
            <setting name="Default_Mount_Path" serializeAs="String">
                <value />
            </setting>
            <setting name="Default_Server_Path" serializeAs="String">
                <value />
            </setting>
            <setting name="Default_Cook_Compress" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Default_Pak_Compress" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WindowLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
        </MordhauBatchPak.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <MordhauBatchPak.Properties.Settings>
            <setting name="WindowSize" serializeAs="String">
                <value>704, 560</value>
            </setting>
        </MordhauBatchPak.Properties.Settings>
    </applicationSettings>
</configuration>